.img-bckgrnd-1 {
	background-image: url(../../img/slides/s1.png);
}

.img-bckgrnd-2 {
	background-image: url(../../img/slides/s2.png);
}

.img-bckgrnd-3 {
	background-image: url(../../img/slides/s3.png);
}