@font-face {
  font-family: Aliens-and-cows;
  src: url(../../fonts/Aliens-and-cows.ttf) format('TrueType');
}

@font-face {
  font-family: Chosence;
  src: url(../../fonts/Chosence-regular.otf) format('OpenType');
}

@font-face {
  font-family: Spaceboy;
  src: url(../../fonts/Spaceboy.ttf) format('TrueType');
}

@font-face {
  font-family: Sex Drugs and Fidget Spinners;
  src: url(../../fonts/Sex-drugs-and-fidget-spinners.otf) format('OpenType');
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

hr {
  border-top: 2px solid #eee;
}

.p-wrapper {
  padding: 30px 0 0px;
  background: #f6f6f6;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

.p-content {
  padding-top: 20px;
}

.banner-title {
  font-family: "Chosence", "Arial", "sans-serif";
  font-size: 60px;
  color: #fff;
  text-shadow: 2px 2px 3px #2b2b2b;
}

.p-title {
  text-align: center;
  padding-bottom: 30px;
}

.p-title__heading--is-large {
  font-family: "Aliens-and-cows", "Arial", "sans-serif";
  font-size: 4.286rem;
  color: #33cccc;
  line-height: 1.5;
  -webkit-text-stroke: 1px #ff00ff;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  /* text-shadow: 0 1px 2px #2b2b2b; */
}

.p-title__heading--is-medium {
  font-family: "Aliens-and-cows", "Arial", "sans-serif";
  font-size: 2.857rem;
  line-height: 1;
  color: #ff00ff;
  text-align: center;
}

.p-food-menu {
  padding-bottom: 40px;
}

.p-food-menu__heading {
  text-align: left;
  font-family: "Spaceboy", "Arial", "sans-serif";
  color: #33cccc;
  line-height: 1.5;
  -webkit-text-stroke: 0.75px #ff00ff;
  margin-bottom: 15px;
}

.p-food-menu-category, .p-daily-schedule {
  padding: 20px 0;
}

.p-food-menu__list li {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  border: 4px solid #33cccc;
  margin: 10px 0;
}

.p-food-menu-image {
  width: auto;
  height: 60px;
  min-height: 60px;
  margin-right: 20px;
  position: relative;
}

.p-food-menu__list--name {
  font-family: "Chosence", "Arial", "sans-serif";
  text-transform: uppercase;
  color:#ff00ff;
  margin-right: 10px;
}

.p-food-menu__list--ingredients {
  font-family: "Sex Drugs and Fidget Spinners", "Arial", "sans-serif";
  font-size: 2rem !important;
  color: #33cccc;
  text-transform: lowercase !important;
  padding-top: 5px;
  flex-grow: 20;
}

.p-food-menu__list--price {
  font-family: "Sex Drugs and Fidget Spinners", "Arial", "sans-serif";
  color:#ff00ff;
}

.p-daily-schedule-rates {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-daily-schedule__card {
  padding: 20px 40px;
  background-color: #fff;
  border: 4px solid #33cccc;
  margin: 0 10px;
  /* flex: 1 1 0; */
  flex: 1;
  width: 100%;
}

.p-daily-schedule__heading {
  font-family: "Chosence", "Arial", "sans-serif";
  text-transform: uppercase;
  color:#ff00ff;
  text-align: center;
}

.p-daily-schedule_paragraph {
  font-family: "Sex Drugs and Fidget Spinners", "Arial", "sans-serif";
  color: #33cccc;
  text-align: center;
  font-size: 2.143rem;
}

/* MEDIA QUERIES */
@media (max-width: 320px) {
  .page-banner {
    display: none;
  }

  .p-wrapper {
    margin-top: 120px;
  }

  .p-title__heading--is-medium {
    font-size: 2.571rem;
  }

  ul.p-food-menu__list li {
    display: flex;
    flex-direction: column;
  }

  .p-food-menu-image {
    margin-right: 0;
  }

  .p-food-menu__list--name {
    margin: 20px 0 -5px 0;
  }

  .p-food-menu__list--ingredients {
    margin-bottom: 7px;
  }

  .p-daily-schedule-rates {
    display: flex;
    flex-direction: column;
  }

  .p-daily-schedule__card {
    margin: 10px 0;
    flex: 1;
    width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 479px) {
  .page-banner {
    display: none;
  }

  .p-wrapper {
    margin-top: 120px;
  }

  .p-title__heading--is-large {
    font-size: 4.286rem;
  }

  .p-title__heading--is-medium {
    font-size: 2.571rem;
  }

  .p-food-menu__list--name {
    margin: 20px 0 5px 0;
  }
}

@media (max-width:767px) {
  .banner-title {
    font-size: 2.571rem;
    padding-top: 9px;
  }

  ul.p-food-menu__list li {
    display: flex;
    flex-direction: column;
  }

  .p-food-menu-image {
    margin: 0;
  }

  .p-food-menu__list--name {
    margin: 20px 0 -5px 0;
  }

  .p-food-menu__list--ingredients {
    margin-bottom: 7px;
  }

  .p-daily-schedule-rates {
    display: flex;
    flex-direction: column;
  }

  .p-daily-schedule__card {
    margin: 10px 0;
    flex: 1;
    width: 100%;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .banner-title {
    font-size: 4.286rem;
  }

  .p-daily-schedule-rates {
    display: flex;
    flex-wrap: wrap;
  }

  .p-daily-schedule__card {
    margin: 5px 5px;
    flex: 1;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner-title {
    font-size: 4.286rem;
    padding-top: 15px;
  }

  .page-banner {
    margin-top: 125px;
  }

  .p-daily-schedule-rates {
    display: flex;
    flex-wrap: wrap;
  }

  .p-daily-schedule__card {
    margin: 5px 5px;
    /* flex: 1 1 auto; */
    width: 100%;
  }
}

@media (min-width: 1200px) {}